
p{
  color: black;
}

.resize-img {
/*   max-height: 133.33px;
  max-width: 133.33px; */

  height: 175px;
  width: 175px;
  border-radius: 50%;
}

.badge-margin{
  margin-right:0.50em;
}

 .card-img-top{
  margin: 0 auto;
  margin-top: 3px;
  float: none;
  margin-bottom: 10px;
}
