
  <div class="card">
    <img class="card-img-top resize-img" src="{{gnomeItem.thumbnail}}" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title font-title">{{gnomeItem.name}}</h4>
      <i class="fa fa-birthday-cake" aria-hidden="true"></i>
      <span class="font-birthday">{{gnomeItem.age}}</span>
      <br>
      <i class="fa fa-address-book" aria-hidden="true"></i>
      <span class="badge badge-info badge-margin" *ngFor="let friend of gnomeItem.friends">{{friend}} </span>
      <br>
<!--       <span>Hair Color: </span>
      <span>{{gnomeItem.hair_color}}</span>
      <br>
      <span>Height: </span>
      <span>{{gnomeItem.height}}</span>
      <br> -->

    </div>
    <div class="card-footer">
      <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
      <small class="text-muted">
          <span class="badge badge-default badge-margin" *ngFor="let profession of gnomeItem.professions">{{profession}}   </span>
          <br>
      </small>
    </div>
  </div>

  <!--      <a [routerLink]="['/gnomeItem.name', gnomeItem.id]" role="button"> -->
